---
layout: home
---

<main class="bd-masthead" id="content" role="main">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 mx-auto col-md-6 order-md-2">
        <img class="img-fluid mb-3 mb-md-0" src="{{ site.baseurl }}/assets/img/bootstrap-stack.png" alt="" width="1024" height="860">
      </div>
      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 bd-text-purple-bright">부트스트랩</h1>
        <p class="lead">
          세계에서 가장 널리 사용되는 프런트엔드 컴포넌트 라이브러리를 사용하여 반응형 웹, 모바일 우선 프로젝트를 구축하세요.
        </p>
        <p class="lead mb-4">
          부트스트랩은 HTML, CSS, JS로 개발하기 위한 오픈소스 툴킷입니다. 아이디어를 빠르게 모델링 하거나, Sass변수와 mixin, 반응형 그리드 시스템, 그리고 jQuery 기반의 강력한 플러그인을 통해 전체 앱을 신속하게 제작할 수 있습니다.
        </p>
        <div class="d-flex flex-column flex-md-row lead mb-3">
          <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/" class="btn btn-lg btn-bd-purple mb-3 mb-md-0 mr-md-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">시작하기</a>
          <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/download/" class="btn btn-lg btn-outline-secondary" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download {{ site.current_version }}');">다운로드</a>
        </div>
        <p class="text-muted mb-0">
          현재 배포버전 v{{ site.current_version }}
        </p>
      </div>
    </div>
    {% include ads.html %}
  </div>
</main>

<div class="masthead-followup row m-0 border border-white">
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    {% include icons/import.svg width="32" height="32" class="text-primary mb-2" %}
    <h3>설치</h3>
    <p>npm, Composer 또는 Meteor를 통해 부트스트랩의 소스 Sass 및 JavaScript 파일을 인클루드 하세요. 관리되는 패키지 설치에는 설명서가 포함되어 있지 않지만 빌드 시스템과 readme가 포함되어 있습니다.</p>

{% highlight sh %}
npm install bootstrap@{{ site.current_version }}
{% endhighlight %}

{% highlight sh %}
gem install bootstrap -v 4.0.0.beta
{% endhighlight %}

    <hr class="half-rule">
    <a class="btn btn-outline-primary" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/download">설치문서 보기</a>
  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    {% include icons/download.svg width="32" height="32" class="text-primary mb-2" %}
    <h3>부트스트랩 CDN</h3>
    <p>컴파일된 CSS 또는 JS가 필요할 때 CDN을 사용할 수 있습니다.</p>

<h5>CSS only</h5>
{% highlight html %}
<link rel="stylesheet" href="{{ site.cdn.css }}" integrity="{{ site.cdn.css_hash }}" crossorigin="anonymous">
{% endhighlight %}

<h5>JS, Popper.js, and jQuery</h5>
{% highlight html %}
<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.cdn.popper }}" integrity="{{ site.cdn.popper_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.cdn.js }}" integrity="{{ site.cdn.js_hash }}" crossorigin="anonymous"></script>
{% endhighlight %}
    <hr class="half-rule">
    <a class="btn btn-outline-primary" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/layout/overview/">문서보기</a>
  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    {% include icons/lightning.svg width="32" height="32" class="text-primary mb-2" %}
    <h3>공식 테마</h3>
    <p>
      공식 프리미엄 테마로 한 단계 업그레이드하십시오.(새로운 컴포넌트 및 플러그인, 문서 및 빌드툴로 제작된 툴킷)
    </p>
    <img class="img-fluid mt-3 mx-auto" src="{{ site.baseurl }}/assets/img/bootstrap-themes.png" alt="Bootstrap Themes" width="1024" height="388">
    <hr class="half-rule">
    <a href="{{ site.themes }}" class="btn btn-outline-primary">테마보기</a>
  </div>
</div>
