<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">예제</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/">소개</a></li>
    </ul>
    <p>세상의 모든 사랑으로 <a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a> 에 의해 디자인되고 만들어졌습니다. <a href="https://github.com/twbs/bootstrap/graphs/contributors">기여자</a>들의 도움으로 <a href="https://github.com/orgs/twbs/people">코아팀</a>에 의해 관리됩니다.</p>
    <p>현재 배포버전 v{{ site.current_version }}. 코드 라이선스 <a rel="license noopener" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, 문서 <a rel="license noopener" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
    <p>이 문서는 <a href="https://www.facebook.com/zeroion" target="_blank">이지훈</a>님의 <a href="http://bootstrapk.com/" target="_blank">번역문서</a>를 참조하여 <a href="https://github.com/gitaeks/" target="_blank">권기택</a> 에 의해 번역 되었습니다. </p>
  </div>
</footer>
